# {{ ansible_managed }}
ISPN_SERVER_USER={{ jboss_datagrid_ispn_server_user }}
STARTUP_WAIT={{ jboss_datagrid_startup_wait }}
SHUTDOWN_WAIT={{ jboss_datagrid_shutdown_wait }}
ISPN_SERVER_CONSOLE_LOG={{ jboss_datagrid_ispn_server_console_log }}
